version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: nestjs_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: nestjs-lrn
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
